@import '../../variables.css';

.car {
  list-style: none;
  height: 300px;
  /* width: 350px; */
  /* padding: 10px auto; */
  /* margin: 3px auto; */
  background: $lighter;
  cursor: pointer;
  
  a {
    display: grid;
    grid-template-areas:
    "i"
    "h";
    align-items: end;
    text-decoration: none;
    color: $light;
    font: 300 .7rem $open;
    margin: 0 auto;
    
    article {
      box-sizing: border-box;
      h2 {
        grid-area: "h";
        order: 2;
        margin-bottom: .2rem;
      }
      img {grid-area: "i";
        order: 1;}
    }
  }
}
