@import '../variables.css';

#root {
  min-height: 100vh;
  max-width: 100%;
  display: grid;
  grid-template-areas:
  "header"
  "content"
  "footer";
  grid-template-rows: auto 1fr auto;
}

div.wrapper{max-width: 100%;}

#main-head {grid-area: header;}
#main-footer {grid-area: footer;}
#main-content {
  grid-area: content;
  display: grid;
  grid-template-areas:
  "ul";
  grid-template-columns: auto 1fr auto;
  padding: 0 auto;
}


header, main, footer { 
  width: 100vw; 
  /* padding: $contentPadding; */
}

header, footer {
  background: $darker;
  color: $lighter;
}

header{
  height: 4rem;
  /* padding: 2rem auto;  */
  display: flex;
  flex-direction: row;
  align-items: center;
}

main {
  max-width: 100%;
  /* padding: 2rem auto; */
  /* box-sizing: border-box; */
}

footer {
  text-align: center;
  height: 1rem;
  margin-top: 2rem;
}

.car-ul{
  max-width: 100%;
  /* margin: 0 auto; */
}

h1 {font-size: 2.5em;}
h2 {font-size: 1.5em;}
small {font-size: .75em;}

h1, h2, p {
  line-height: 1.5rem;
  /* margin-bottom: 2rem; */
}